@{
    ViewData["Title"] = "Home Page";
    var userEmail = User.Identity.Name;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <h2>Bienvenido</h2>
    <p>Tu correo electrónico es: @userEmail</p>
}